---
layout: default
---

  <div class='row hero'>
    <div class='container'>
      <div class='twelve columns'>
        <a class='electron-word' href='/'>Electron</a>
        <h3>{{ site.description }}</h3>
        <h5>Formerly known as Atom Shell. Made with <span class='mega-octicon octicon-heart'></span> by <a href='https://github.com'>GitHub</a>.</h5>
      </div>
    </div>
  </div>

  <section class='electron-does'>
    <div class='container'>
      <div class='row'>
        <div class='four columns'>
          <img src='../images/browser.png' width='150px'>
          <h4>Web Tech</h4>
          <p>Use HTML, CSS, and JavaScript with Chromium and Node.js to build your app.</p>
        </div>
        <div class='four columns'>
          <img src='../images/fork.png' width='99px'>
          <h4>Open Source</h4>
          <p>Electron is open source; maintained by GitHub and an active community.</p>
        </div>
        <div class='four columns'>
          <img src='../images/os-box.png' width='150px'>
          <h4>Cross Platform</h4>
          <p>Electron apps build and run on Mac, Windows, and Linux.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="more-features">
    <div class='container'>
      <div class='row'>
        <div class='twelve columns'>
          <h3>The hard parts made easy</h3>
        </div>
      </div>

      <div class='row features'>
        <div class='two columns offset-by-one'>
          <span class="mega-octicon octicon-squirrel"></span>
          <br/>
          Automatic updates
        </div>
        <div class='two columns'>
          <span class="mega-octicon octicon-bug"></span>
          <br/>
          Crash <br/>reporting
        </div>
        <div class='two columns'>
          <span class="mega-octicon octicon-gift"></span></span>
          <br/>
          Windows installers
        </div>
        <div class='two columns'>
          <span class="mega-octicon octicon-tools"></span>
          <br/>
          Debugging &amp; profiling
        </div>
        <div class='two columns'>
          <span class="mega-octicon octicon-device-desktop"></span>
          <br/>
          Native menus &amp; notifications
        </div>
      </div>
    </div>
  </section>

  <section id='built-on-electron' class='built-on'>
    <div class='container'>
      <div class='row'>
        <div class='ten columns offset-by-one'>
          <h3>Built on Electron</h3>
          <h5>With Electron, creating a desktop application for your company or idea is easy. Initially developed for GitHub's <a href='https://atom.io' target='_blank'>Atom editor</a>, Electron has since been used to create applications by companies like Microsoft, Facebook, Slack, and Docker.</h5>
        </div>
      </div>

      <div class='row'>
        <div class='eight columns offset-by-two'>
          <hr>

          <a href='https://atom.io' target='_blank' title='Atom'>
            <img class='other-logo' src='../images/atom.png' alt='Atom icon'>
          </a>

          <a href='https://slack.com' target='_blank' title='Slack'>
            <img class='other-logo' src='../images/slack.png' alt='Slack icon'>
          </a>

          <a href='https://code.visualstudio.com' target='_blank' title='Visual Studio Code'>
            <img class='other-logo' src='../images/vscode.png' alt='Visual Studio Code icon'>
          </a>

          <a href='http://avocode.com' target='_blank' title='Avocode'>
            <img class='other-logo' src='../images/avocode.png' alt='Avocode icon'>
          </a>

          <a href='https://www.mapbox.com' target='_blank' title='Mapbox'>
            <img class='other-logo' src='../images/mapbox.png' alt='Mapbox icon'>
          </a>

          <a href='http://nuclide.io' target='_blank' title='Nuclide'>
            <img class='other-logo' src='../images/nuclide.png' alt='Nuclide icon'>
          </a>

          <a href='https://kitematic.com' target='_blank' title='Kitematic'>
            <img class='other-logo' src='../images/kitematic.png' alt='Kitematic icon'>
          </a>

          <a href='http://www.pixate.com' target='_blank' title='Pixate'>
            <img class='other-logo' src='../images/pixate.png' alt='Pixate icon'>
          </a>

          <a href='http://www.wagonhq.com' target='_blank' title='Wagon'>
            <img class='other-logo' src='../images/wagon.png' alt='Wagon icon'>
          </a>

          <a href='https://www.particle.io/dev' target='_blank' title='Particle Dev'>
            <img class='other-logo' src='../images/particle.png' alt='Particle icon'>
          </a>

          <a href='http://fireball-x.com/en' target='_blank' title='Fireball'>
            <img class='other-logo' src='../images/fireball.png' alt='Fireball icon'>
          </a>

          <a href='http://speak.io' target='_blank' title='Speak'>
            <img class='other-logo' src='../images/speak.png' alt='Speak icon'>
          </a>

          <a href='http://popkey.co/send-gifs' target='_blank' title='PopKey'>
            <img class='other-logo' src='../images/pop-key.png' alt='PopKey icon'>
          </a>

          <a href='https://www.jibo.com' target='_blank' title='JIBO'>
            <img class='other-logo' src='../images/jibo.png' alt='JIBO icon'>
          </a>

          <a href='http://lab.ionic.io' target='_blank' title='Ionic Lab'>
            <img class='other-logo' src='../images/ionic-lab.png' alt='Ionic Lab icon'>
          </a>

          <a href='https://rocket.chat' target='_blank' title='Rocket.Chat'>
            <img class='other-logo' src='../images/rocket-chat.png' alt='Rocket.Chat icon'>
          </a>

          <a href='http://microstockr.com' target='_blank' title='Microstockr'>
            <img class='other-logo' src='../images/microstockr.png' alt='Microstockr icon'>
          </a>

          <a href='https://www.gitbook.com' target='_blank' title='GitBook'>
            <img class='other-logo' src='../images/gitbook.png' alt='GitBook icon'>
          </a>

          <a href='https://www.nylas.com/n1' target='_blank' title='Nylas N1'>
            <img class='other-logo' src='../images/nylas.png' alt='Nylas icon'>
          </a>

          <a href='http://www.gitkraken.com' target='_blank' title='GitKraken'>
            <img class='other-logo' src='../images/gitkraken.png' alt='GitKraken icon'>
          </a>

          <a href='http://www.airtame.com' target='_blank' title='AIRTAME'>
            <img class='other-logo' src='../images/airtame.png' alt='AIRTAME icon'>
          </a>

          <a href='https://www.spreaker.com/download' target='_blank' title='Spreaker Studio'>
            <img class='other-logo' src='../images/spreaker-studio.png' alt='Spreaker Studio icon'>
          </a>

          <a href='http://www.kakapo.co/app.html#desktop' target='_blank' title='Kakapo'>
            <img class='other-logo' src='../images/kakapo.png' alt='Kakapo'>
          </a>

          <a href='http://zoommyapp.com' target='_blank' title='Zoommy'>
            <img class='other-logo' src='../images/zoommy.png' alt='Zoommy'>
          </a>

          <a href='http://www.gitify.io' target='_blank' title='Gitify'>
            <img class='other-logo' src='../images/gitify.png' alt='Gitify'>
          </a>

          <hr>
        </div>
      </div>

      <div class='row'>
        <div class='ten columns offset-by-one'>
          <h4>Developers bring ideas to life</h4>
          <h5>Interesting open source apps are built on Electron.</h5>
        </div>
        <div class='row'>
          <div class='four columns offset-by-two'>
            <ul>
              <li>
                <a href='http://moose-team.github.io/friends' target='_blank'>Friends</a> &mdash; Peer to peer chat
              </li>
              <li>
                <a href='https://github.com/postcasio/hearthdash' target='_blank'>Hearthdash</a> &mdash; Hearthstone tracker
              </li>
              <li>
                <a href='https://github.com/maddox/kart' target='_blank'>Kart</a> &mdash; Frontend for RetroArch
              </li>
              <li>
                <a href='https://github.com/maxogden/monu' target='_blank'>Monu</a> &mdash; Process monitoring app
              </li>
              <li>
                <a href='https://github.com/muan/mojibar' target='_blank'>Mojibar</a> &mdash; Emoji searcher
              </li>
            </ul>
          </div>
          <div class='four columns'>
            <ul>
              <li>
                <a href='https://github.com/mafintosh/playback' target='_blank'>Playback</a> &mdash; Experimental video player
              </li>
              <li>
                <a href='https://github.com/maxogden/screencat' target='_blank'>ScreenCat</a> &mdash; WebRTC screensharing
              </li>
              <li>
                <a href='https://github.com/mick/geojsonapp' target='_blank'>Geojsonapp</a> &mdash; Preview geojson files
              </li>
              <li>
                <a href='https://github.com/maxogden/menubar' target='_blank'>Menubar</a> &mdash; Create menubar apps
              </li>
              <li>
                <a href='https://github.com/yeoman/yeoman-app' target='_blank'>Yeoman App</a> &mdash; Scaffold projects
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id='get-started' class='get-started'>
    <div class='container'>
      <div class='row'>
        <div class='twelve columns'>
          <h3>Get started with Electron</h3>
        </div>
        <div class='row'>
          <div class='ten columns offset-by-one'>
            <h5>Download a <a href='https://github.com/atom/electron/releases'>prebuilt binary</a> or use <a href='https://www.npmjs.com/'>npm</a> to install from the command line, then check out the <a href="http://electron.atom.io/docs/latest/tutorial/quick-start/">Quick Start Guide</a>. Read the <a href="/docs/latest">documentation</a> or check out <a href="https://github.com/sindresorhus/awesome-electron" target="_blank">projects and build tools</a> created by the community.</h5>
          </div>
        </div>
        <div class='row'>
          <div class='six columns offset-by-three'>
            <pre><code>
# Install the `electron` command globally
npm install electron-prebuilt -g

# Install as a development dependency
npm install electron-prebuilt --save-dev
            </code></pre>
          </div>
        </div>
        </div>
    </div>
  </section>
